body {
    background-image: url("../images/sky2.jpg");
    background-repeat: no-repeat;
    background-size: cover;

   }



#getDataForm {
    text-align: center;
    margin-top: 2vh;
    font-weight: bold;
    font-size: large;
    color: white;
    outline: 2px solid black;
    vertical-align: middle;
    padding-top: 1vh;
    padding-bottom: 1vh;

}

